
.vs/CutVideoToGif/v15/Server/sqlite3/db.lock
.vs/CutVideoToGif/v15/Server/sqlite3/storage.ide
.vs/CutVideoToGif/v15/Server/sqlite3/storage.ide-shm
.vs/CutVideoToGif/v15/Server/sqlite3/storage.ide-wal
CutVideoToGif/bin/Debug/AxInterop.WMPLib.dll
CutVideoToGif/bin/Debug/CutVideoToGif.exe
CutVideoToGif/bin/Debug/CutVideoToGif.exe.config
CutVideoToGif/bin/Debug/CutVideoToGif.pdb
CutVideoToGif/bin/Debug/ffmpeg/ffmpeg.exe
CutVideoToGif/bin/Debug/ffmpeg/ffplay.exe
CutVideoToGif/bin/Debug/ffmpeg/ffprobe.exe
CutVideoToGif/bin/Debug/GalaSoft.MvvmLight.dll
CutVideoToGif/bin/Debug/ImageResizer.dll
CutVideoToGif/bin/Debug/ImageResizer.xml
CutVideoToGif/bin/Debug/MediaToolkit.dll
CutVideoToGif/obj/Debug/build.force
CutVideoToGif/obj/Debug/CutVideoToGif.csproj.CoreCompileInputs.cache
CutVideoToGif/obj/Debug/CutVideoToGif.csproj.FileListAbsolute.txt
CutVideoToGif/obj/Debug/CutVideoToGif.csproj.GenerateResource.cache
CutVideoToGif/obj/Debug/CutVideoToGif.csprojAssemblyReference.cache
CutVideoToGif/obj/Debug/CutVideoToGif.exe
CutVideoToGif/obj/Debug/CutVideoToGif.g.resources
CutVideoToGif/obj/Debug/CutVideoToGif.pdb
CutVideoToGif/obj/Debug/CutVideoToGif_MarkupCompile.cache
CutVideoToGif/obj/Debug/CutVideoToGif_MarkupCompile.lref
CutVideoToGif/obj/Debug/View/MainWindow.baml
CutVideoToGif/obj/Debug/View/MainWindow.g.cs
CutVideoToGif/obj/Debug/View/MainWindow.g.i.cs
